*{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html{
    scroll-behavior: smooth;
}

/*---Navegador---*/

.caja-header{
    background-color: #0a0303;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 99;
}

.caja-header header{
    max-width: 1100px;
    margin: -34px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.caja-header header .logo h1{
    font-size: 40px;
    color: #2196F3;
    text-decoration: none;
}

.caja-header header ul{
    display: flex;
    list-style: none;
}

.caja-header header nav ul li a{
    text-align: none;
    color: #2196F3;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.caja-header nav ul li a:hover{
    color: #f1f1f1;
}

.nav-responsive{
    background-color: #2196F3;
    color: #0a0303;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*-----Inicio-----*/

#inicio{
    background-image: url(./img/ima_progr.jpg) ;
}


.inicio{
    background-size: cover;
    height: 120vh;
    color: #2196F3;
    display: flex;
    align-items: center;
}

.inicio .caja-inicio{
    padding: 20px;
    background-color: #0a0303;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .caja-inicio img{
    margin-top: 40px;
    border: 10px solid #2196F3;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .caja-inicio h2{
    margin-top: 40px;
    font-size: 42px;
}

.inicio .caja-inicio h3{
    font-size: 25px;
    font-weight: normal;
}

/*----Información Personal-----*/

.info-personal{
    background-color: #0a0303;
    color: #f1f1f1;
    padding: 50px 20px;
}

.info-personal .caja-personal{
    max-width: 1100px;
    margin: auto;
}

.info-personal h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

.info-personal .caja-personal p{
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 20px;
}

.info-personal .fila{
    display: flex; 
}

.info-personal .fila .col{
    width: 50%;
}

.info-personal .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}

.info-personal .fila .col ul{
    list-style: none;
}

.info-personal .fila .col ul li{
    margin: 12px 0;
}

.info-personal .fila .col ul li strong{
    display: inline-block;
    color: #2196F3;
    width: 130px;
}

.info-personal .fila .col .caja-interes{
    display: flex;
    flex-wrap: wrap;
}

.info-personal .fila .col .caja-interes .interes{
    width: 100px;
    height: 100px;
    background-color: #0a0303;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.info-personal .fila .col .caja-interes .interes:hover{
    background-color: #2196F3;
}

.info-personal .fila .col .caja-interes .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

/*------Skill------*/

.skill{
    background-color: #0a0303;
    color: #f1f1f1;
    padding: 50px 20px;
}

.skill .caja-skill{
    max-width: 1100px;
    margin: auto;
}

.skill h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

.skill .fila{
    display: flex;
}

.skill .fila .col{
    width: 50%;
    padding: 0 20px;
}

.skill .fila .col h3{
    color: #2196F3;
    font-size: 30px;
    margin-bottom: 25px;
}

.skill .skill-dt > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skill .skill-dt .barra-skill{
    height: 10px;
    width: 80%;
    background-color: #333333;
    position: relative;
    margin-bottom: 30px;
}

.skill .skill-dt .progress{
    background-color: #2196F3;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skill .skill-dt .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color:#2196F3;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

@keyframes html{
    0%{width: 0%;}
    100%{width: 85%}
}

.skill .skill-dt .html{
    width: 0%;
    animation: 2s html forwards;
}

.skill .skill-dt .css{
    width: 0%;
    animation: 2s css forwards;
}

@keyframes css{
    0%{width: 0%;}
    100%{width: 75%}
}

.skill .skill-dt .php{
    width: 0%;
    animation: 2s php forwards;
}

@keyframes php{
    0%{width: 0%;}
    100%{width: 50%}
}

.skill .skill-dt .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript{
    0%{width: 0%;}
    100%{width: 90%}
}

.skill .skill-dt .python{
    width: 0%;
    animation: 2s python forwards;
}

@keyframes python{
    0%{width: 0%;}
    100%{width: 75%}
}

.skill .skill-dt .trabajo-equipo{
    width: 0%;
    animation: 2s trabajo-equipo forwards;
}

@keyframes trabajo-equipo{
    0%{width: 0%;}
    100%{width: 75%}
}
.skill .skill-dt .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 55%}
}

.skill .skill-dt .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 90%}
}

.skill .skill-dt .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 81%}
}

.skill button{
    cursor: pointer;
    background-color: #333333 ;
    color: #f1f1f1;
    border: 2px solid #2196F3;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 20px;
    position: relative;
    z-index: 10;
}


.skill  button .overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2196F3;
    z-index: -1;
    transition: 1s;
}


.skill button:hover .overlay{
    width: 100%;
}

/*----Curriculum----*/

.cv{
    background-color: #0a0303;
    color: #f1f1f1;
    padding: 50px 20px;
}

.cv .caja-cv{
    max-width: 1100px;
    margin: auto;
}

.cv h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

.cv .fila{
    display: flex;
    justify-content: space-between;
}

.cv .fila .col{
    width: 49%;
    padding: 0 20px;
}

.cv .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
    color: #2196F3;
}

.cv .fila .izquierda{
    border-right: 2px solid #333333;
}

.cv .fila .derecha{
    border-left: 2px solid #333333;
}

.cv .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #333333;
    position: relative;
}

.cv .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.cv .fila .item .curso{
    color: #2196F3;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.cv .fila .item .contenido{
    display: block;
    color: #2196F3;
    margin-bottom: 10px;
}

.cv .fila .item p{
    line-height: 24px;
}

.cv .fila .izq{
    border-right: 2px solid #2196F3;
    margin-right: 20px;
}

.cv .fila .der{
    border-left: 2px solid #2196F3;
    margin-left: 20px;
}

/*-----Habilidades-----*/

.habilidades{
    background-color: #0a0303;
    color: #f1f1f1;
    padding: 50px 20px;
}

.habilidades .caja-habilidades{
    max-width: 1100px;
    margin: auto;
}

.habilidades h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

.habilidades .fila{
    display: flex;
    justify-content: space-between;
}

.habilidades .fila .col{
    width: 49%;
    padding: 0 20px;
}

.habilidades .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
    color: #2196F3;
}

.habilidades .fila .izquierda{
    border-right: 2px solid #333333;
}

.habilidades .fila .derecha{
    border-left: 2px solid #333333;
}

.habilidades .fila .col ul{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #333333;
    position: relative;
    list-style: none;
}

.habilidades .fila .col ul li{
    font-size: 20px;
    margin-bottom: 10px;
}

.habilidades .fila .izquierda #aptitudes{
    border-right: 2px solid #2196F3;
    margin-right: 20px;
}

.habilidades .fila .derecha #idioma{
    border-left: 2px solid #2196F3;
    margin-left: 20px;
}

.habilidades button{
    cursor: pointer;
    background-color: #333333 ;
    color: #f1f1f1;
    border: 2px solid #2196F3;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 20px;
    position: relative;
    z-index: 10;
}

.habilidades  button .overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2196F3;
    z-index: -1;
    transition: 1s;
}

.habilidades button:hover .overlay{
    width: 100%;
}

/*-----Contacto-----*/

.contacto{
    background-color: #0a0303;
    color: #f1f1f1;
    padding: 50px 0;
}

.contacto .caja-contacto{
    max-width: 1100px;
    margin: auto;
}

.contacto h2{
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #333333;
    color: #f1f1f1;
    font-size: 18px;
}

.contacto button{
    cursor: pointer;
    background-color: #333333 ;
    color: #f1f1f1;
    border: 2px solid #2196F3;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    position: relative;
    z-index: 10;
}

.contacto .col button .overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2196F3;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay{
    width: 100%;
}

.contacto .col .info{
    top:40%;
    background-color: #333333;
    padding: 20px;
    left: 50%;
}

.contacto .col .info ul{
    list-style: none;
}

.contacto .col .info ul li{
    margin-bottom: 20px;
}

.contacto .col .info ul li i{
    color: #2196F3;
    display: inline-block;
    margin-right: 20px;
}

.contacto .fila .col .info .container{
    margin:auto;
}

.contacto .fila .col .info .container .social{
    text-align: left;
	top:50px;
	right:0;
}

.contacto .fila .col .info .container .social ul li{
	top:50%;
    height:160px;
    margin: 2px;
	margin-top:-100px;
    list-style: none;
    text-align: left;
    display: inline;
}
/*----Footer-----*/

footer{
    background-color: #0a0303;
    color: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    position: absolute;
    width: 100%;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #333333;
    color: #2196F3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 18px;
}

/*---Responsive---*/

@media (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }

    nav.responsive{
        display: block;
        position:absolute;
        right: 0;
        top: 75px;
        background-color: #0a0303;
        width: 180px;
    }

    nav.responsive ul{
        display: block !important;
    }

    nav.responsive ul li{
        border-bottom: 1px solid #2196F3;
        padding: 10px 0;
    }

}

@media (max-width:700px) {
    .info-personal .fila{
        display: block;
    }

    .info-personal .fila .col{
        width:fit-content;
    }

    .skill .fila{
        display: block;
    }

    .skill .fila .col{
        width: 100%;
    }

    .skill .fila .col .barra-skill{
        width: 100%;
    }

    .cv .fila{
        display: block;
    }

    .cv .fila .col{
        width: 90%;
    }

    .cv .fila .derecha{
        margin-left: 20px;
    }

    .habilidades .fila{
        display: block;
    }

    .habilidades .fila .col{
        width: 100%;
    }

    .contacto .fila{
        display: block;
    }

    .contacto .fila .col{
        width: 100%;
    } 
    
}
